html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#panel li:before{

  padding: 3px;
  display:block;
  color:#fff;
  font-weight:bold;
}
#panel li:nth-child(1):before{
  content:'startLeg:DRIVING';
  background:red;
}
#panel li:nth-child(2):before{
  content:'middleLeg:TRANSIT';
  background:blue;
}
#panel li:nth-child(3):before{
  content:'endLeg:BICYCLING';
  background:yellow;
  color:#000;
}
